  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row text-center">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">Maintenance Services</h1>
            </div>
            <div class="text-white text-center">
                <p class="lead font-weight-light">Hassle-free operations and maintenance of HVAC, CC TV, PA systems, UPS and more...</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>

<section id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-bolt fa-3x mb-2"></i>
          <h3>Electrical</h3>
        </div>
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-building fa-3x mb-2"></i>
          <h3>Structural</h3>
        </div>
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-trash fa-3x mb-2"></i>
          <h3>Industries</h3>
        </div>
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h3>Support</h3>
        </div>
      </div>
    </div>
  </section>

  <section id="home-heading" class="pb-3 bg-dark text-white text-center">
    <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">	Operations and maintenance of systems can now be a hassle-free process with AMSSS at your rescue.  AMSSS does an efficient job of maintaining facilities and providing on-site electrical and mechanical engineering solutions. We ensure clients enjoy peace of mind knowing that their facilities are managed by our seasoned professionals. 
            </p>
          </div>
        </div>
      </div>
  </section>

  <section class="py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center py-3">
                        <h4>Electrical</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Heating, ventilation, air conditioning (HVAC)
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Transformers and Diesel Generators
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Fire-fighting Systems and DEP Systems 
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Elevators, Building Management Systems (CC TV & PA System), UPS, etc
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              EOT Crane Operation, Boilers systems and Hydraulic pump and systems
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Electrical Appliances & Utility operations
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Telecommunication devices such as telephones, EPABX, internet
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center py-3">
                        <h4>
                          <!-- <i class="fas fa-syringe fa-3x mb-2"></i> -->
                          Structural</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Plumbing, STP and WTP
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Carpentry
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Water purification
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Swimming pool maintenance and life guarding
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Exterior/ Walls
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header bg-dark text-white text-center py-3">
                  <h4>Support </h4>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <i class="fas fa-check"></i>
                      Production equipments
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-check"></i>
                      Repairs, Maintenance and Servicing 
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-dark text-white text-center py-3">
                      <h4>Support </h4>
                  </div>
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Technical training
                          </li>
                          <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Technical know-how & assistance
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </section>

