  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row text-center">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">Mechanical Maintenance</h1>
            </div>
            <div class="text-white text-center">
                <p class="lead font-weight-light">Hassle-free operations and maintenance of HVAC, CC TV, PA systems, UPS and more</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>

<section id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-cog fa-3x mb-2"></i>
          <h3>Turning Gears</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-cloud fa-3x mb-2"></i>
          <h3>Sending Data</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h3>Making Money</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="home-heading" class="pb-3 bg-dark text-white text-center">
    <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">Get housekeeping and cleaning services for industrial establishments, commercial & corporate firms and large residential complexes with our expert teams. Our process ensures cleanliness, tidiness & hygienic environment with the assurance of sustaining life of the valuables and assets that we maintain.</p>
          </div>
        </div>
      </div>
  </section>

  <section class="py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center py-3">
                        <h4>Cleaning services include </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Industrial cleaning -  grease, carbon, soot, grime removal</li>
                            <li class="list-group-item">Structural cleaning through Jet sprays- building exteriors, driveways, pathways, car parks, walls and concrete floors.</li>
                            <li class="list-group-item">Restroom cleaning, Door glass/window cleaning, Vacuuming, Dusting, Disaster recover, Construction clean-up</li>
                            <li class="list-group-item">Residential cleaning - carpet, upholstery, curtains & other spaces.</li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center py-3">
                        <h4>Sterilization & Decontamination For</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Hazardous environment</li>
                            <li class="list-group-item">Labs</li>
                            <li class="list-group-item">Bacteria & other pathogen-infected areas</li>

                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-dark text-white text-center py-3">
                      <h4>Waste disposal & Recycling – For industries, large residential complexes.</h4>
                  </div>
                  <div class="card-body text-center">
                      <p>Our services allow you to easily dispose of plastic, metal, paper, cardboard, glass, battery, fluorescents and electronics from your organisation and from your residential complex.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-dark text-white text-center py-3">
                      <h4>Specialized cleaning methods for count reduction of</h4>
                  </div>
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Bacteria</li>
                          <li class="list-group-item">Pollen</li>
                          <li class="list-group-item">Dust & particulate Matter</li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </section>


