  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row text-center">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">Commerical Cleaning</h1>
            </div>
            <div class="text-white text-center">
                <p class="lead font-weight-light">Housekeeing and cleaning services for Industrial, Commercial, Corporate and Large residentail establishments</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>

<section id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4 text-center">
          
          <!-- <i class="fas fa-stars fa-3x mb-2"></i> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
            <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
          </svg>
          <h3><i class="bi bi-stars"></i>Cleaning</h3>
        </div>
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-syringe fa-3x mb-2"></i>
          <h3>Sterilization & Decontamination</h3>
        </div>
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-trash fa-3x mb-2"></i>
          <h3>Waste disposal & Recycling</h3>
        </div>
        <div class="col-md-3 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h3>Specialized Cleaning</h3>
        </div>
      </div>
    </div>
  </section>

  <section id="home-heading" class="pb-3 bg-dark text-white text-center">
    <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">Get housekeeping and cleaning services for industrial establishments, commercial & corporate firms and large residential complexes with our expert teams. Our process ensures cleanliness, tidiness & hygienic environment with the assurance of sustaining life of the valuables and assets that we maintain.</p>
          </div>
        </div>
      </div>
  </section>

  <section class="py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center py-3">
                        <h4>Cleaning</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Industrial cleaning -  grease, carbon, soot, grime removal
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Structural cleaning through Jet sprays- building exteriors, driveways, pathways, car parks, walls and concrete floors.
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Restroom cleaning, Door glass/window cleaning, Vacuuming, Dusting, Disaster recover, Construction clean-up
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Residential cleaning - carpet, upholstery, curtains & other spaces.
                            </li>
                            
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center py-3">
                        <h4>
                          <!-- <i class="fas fa-syringe fa-3x mb-2"></i> -->
                          Sterilization & Decontamination</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Hazardous environment
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Labs
                            </li>
                            <li class="list-group-item">
                              <i class="fas fa-check"></i>
                              Bacteria & other pathogen-infected areas
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-dark text-white text-center py-3">
                      <h4>Waste disposal & Recycling</h4>
                  </div>
                  <div class="card-body text-center">
                      <p>Our services allow you to easily dispose of plastic, metal, paper, cardboard, glass, battery, fluorescents and electronics from your organisation and from your residential complex.</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                  <div class="card-header bg-dark text-white text-center py-3">
                      <h4>Specialized Cleaning </h4>
                  </div>
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Bacteria
                          </li>
                          <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Pollen
                          </li>
                          <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Dust & particulate Matter
                          </li>

                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </section>

