  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row text-center">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">Landscaping</h1>
            </div>
            <div class="text-white text-center">
                <p class="lead font-weight-light">Ador your complex and structure with nature using our gardening and landscaping services</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>

  <section id="home-heading" class="pb-3  text-center">
    <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">	
              Our support services extend to adorning your complex/structure with nature. AMSSS has the best set of resources for gardening and landscaping services. We offer our services in this manner:            </p>
          </div>
        </div>
      </div>
  </section>

  <section id="home-icons" class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <h2 class="text-center">What We Can Do For You</h2> -->
          <ul>
            <li>Site evaluation</li>
            <li>Test soil, water and natural environment to shortlist on plants/shrubs that can be used</li>
            <li>Housekeeping services, personnel to maintain indoor /outdoor plants</li>
            <li>Technical training on maintaining plants and gardens</li>
            <li>Shrub trimming, lawn mowing, flowerbed care, pesticide and fertilizer usage.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
