<div class="container" >
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 10%;">
            <h3>Contact Messages</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped" >
                        <thead>
                          <tr>
                            <th *ngFor="let c of columns">{{c}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let m of messages">
                            <td class="col-md-1">{{m.date}}</td>
                            <td class="col-md-2">{{m.firstName}} {{m.lastName}}</td>
                            <td class="col-md-1">{{m.email}}</td>
                            <td class="col-md-1">{{m.phone}}</td>
                            <td>{{m.message}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            
        </div>
    </div>
</div>
