  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row text-center">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">Pest Control</h1>
            </div>
            <div class="text-white text-center">
                <p class="lead font-weight-light">Maintain a clean and hygienic environment and protect equipments from pests</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>

  <section id="home-heading" class="pb-3  text-center">
    <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">	
              Pests infest residences as well as industries and office spaces. Eliminating them is essential to maintain a clean and hygienic environment and at the same time ensure equipments and structure remains unharmed. 
            </p>
          </div>
        </div>
      </div>
  </section>

  <section id="home-icons" class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">What We Can Do For You</h2>
          <ul>
            <li>Pest control process: Examination->Analysis->Planning->Execution->Review</li>
            <li>Customized pest control program for any location</li>
            <li>Meticulous planning & flawless execution of the process</li>
            <li>Use of effective yet safe insecticides, pesticides & other chemicals</li>
            <li>Well equipped and trained professionals to handle the dangerous chemicals</li>
            <li>Continuous R&D by our team to obtain better pest control methods</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
