<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top mb-3 py-0">
    <div class="container">
        <a href="index.html" class="navbar-brand" >
             <img src="../../assets/ace-logo.PNG" class="rounded-circle" height = "40" width = "80" alt="">
        </a> 
        <h5 class="text-white font-weight-light mt-2">ACE Management Support Services</h5>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#headernavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse font-weight-light" id="headernavbar"> 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="about" class="nav-link">About Us</a>
                </li>   
                
                <li class="nav-item dropdown">
                    <a href="#service" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Services</a>
                    <div class="dropdown-menu font-weight-light text-muted">
                        <a routerLink="" class="dropdown-item">Commercial Cleaning</a>
                        <a routerLink=""  class="dropdown-item">Mechanical Maintenance</a>
                        <a routerLink=""  class="dropdown-item">Management Support</a>
                        <a routerLink=""  class="dropdown-item">Pest Control</a>
                        <a routerLink=""  class="dropdown-item">Gardening & Landscaping</a>
                        <a routerLink=""  class="dropdown-item">Security Services</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a routerLink="contact-us"  class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a routerLink="careers"  class="nav-link">career</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#signup" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fas fa-user float align-middle"></i>
                    </a>
                    <div class="dropdown-menu font-weight-light text-muted" width=10>
                        <a href="#" class="dropdown-item">Sign Up</a>
                        <a routerLink="login" class="dropdown-item">Login</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>
