  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row text-center">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">Security Services</h1>
            </div>
            <div class="text-white text-center">
                <p class="lead font-weight-light">Ador your complex and structure with nature using our gardening and landscaping services</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>

  <section id="home-heading" class="pb-3  text-center">
    <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">	
              AMSSS provides manpower in the form of security services for offices, complexes, apartments, individual homes, organizations, all types of buildings, temporary event locations and so on.
          </div>
        </div>
      </div>
  </section>

  <section id="home-icons" class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">What We Can Do For You</h2>
          <ul>
            <li>Own a database of trustworthy and efficient resources</li>
            <li>Thorough background verification is carried out before outsourcing or recruiting any personnel or team</li>
            <li>Well trained team with appropriate reporting and accountable authority</li>
            <li>Extraordinarily vigilant team ensuring safety and security of the building and the people</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
