
  <!-- SHOWCASE -->
  <section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <h1 class="font-weight-light ml-2 mt-5 pt-5">With Care Comes Quality !</h1>
            </div>
            <div class="text-white">
            <p class="lead font-weight-light">We care, hence our services are top-notch & fair !</p>
            </div>
            <!-- <div class="row">
                <a href="#" class="btn btn-outline-secondary text-white">About us
                    <i class="fas fa-user float align-middle"></i> 
                </a>
            </div> -->
        </div>
    </div>
</section>
<!-- END SHOWCASE -->

<!-- SERVICES 1st ROW (Bootstrap Cards)-->
<section class="py-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <!-- Commercial Cleaning -->
                        <h5 class="text-muted text-center">Commercial Cleaning</h5>
                    </div>
                        <img class="img-fluid" src="../../assets/cleaning-unsplash.jpg" alt="https://source.unsplash.com/random/300x200">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Housekeeing and cleaning services for Industrial, Commercial, Corporate and Large residentail establishments</p>
                        </div>
                        <a class="btn btn-primary btn-sm" href="#" data-bs-toggle="collapse" data-bs-target="#cleaning">Read More</a> 
                        <div class="collapse" id="cleaning">
                            <div class="card mt-1">
                                <div class="card-body">
                                Get housekeeping and cleaning services for industrial establishments, commercial & corporate firms and large residential
                                complexes with our expert teams. Our process ensures cleanliness, tidiness & hygienic environment with the assurance of
                                sustaining life of the valuables and assets that we maintain.<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <h6 class="text-white text-center">Spotless Surrounding</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <!--Electro Mechanical Maintenance services -->
                        <h5 class="text-muted text-center">Mechanical Maintenance</h5>
                    </div>
                    <img class="img-fluid" src="../../assets/me-unsplash.jpg" alt="https://source.unsplash.com/random/300x200">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Hassle-free operations and maintenance of HVAC, CC TV, PA systems, UPS and more...</p>
                            <br>
                        </div>
                        <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#electro">Read More</a>
                        <div class="collapse" id="electro">
                            <div class="card mt-1">
                                <div class="card-body">
                                    AMSSS does an efficient job of maintaining facilities and providing on-site electrical and mechanical engineering
                                    solutions. We ensure clients enjoy peace of mind knowing that their facilities are managed by our seasoned
                                    professionals.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <h6 class="text-white text-center">Effortless Equipment management</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-5">
                    <div class="card-header">
                        <!--Management Support services -->
                        <h5 class="text-center text-muted">Management Support</h5>
                    </div>
                    <img class="img-fluid" src="../../assets/management-unsplash.jpg" alt="https://source.unsplash.com/random/300x200">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Unparalleled management & staffing support services which enables organizations to function smoothly.</p>
                        </div>
                        <a class="btn btn-primary btn-sm" href="#" data-bs-toggle="collapse" data-bs-target="#staffing">Read More</a>
                        <div class="collapse" id="staffing">
                            <div class="card mt-1">
                                <div class="card-body">
                                    Finding the right resources at the right time is a boon to any organization. AMSSS offers unparalleled management &
                                    staffing support services which enables organizations to function smoothly with any gaps filled by relevant resources.
                                    We provide manpower support solutions for:
                                    Concierge services
                                    Pantry support services.
                                    Mailroom operations and runner services
                                    Delivery
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <h6 class="text-white text-center">Find Help in a jiffy</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Card 1st row -->
<!-- Cards for Services 2nd ROW-->  
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <!--Pest Control -->
                        <h5 class="text-muted text-center">Pest Control</h5>
                    </div>
                    <img class="img-fluid" src="../../assets/pest-unsplash.jpg" alt="https://source.unsplash.com/random/300x200">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Maintain a clean and hygienic environment and protect equipments from pests<br><br>
                            </p>
                        </div>
                        <a class="btn btn-primary btn-sm" href="#" data-bs-toggle="collapse" data-bs-target="#pest">Read More</a>
                        <div class="collapse" id="pest">
                            <div class="card mt-1">
                                <div class="card-body">
                                    Pests infest residences as well as industries and office spaces. Eliminating them is essential to maintain a clean and
                                    hygienic environment and at the same time ensure equipments and structure remains unharmed.
                                    Pest control process: Examination->Analysis->Planning->Execution->Review
                                    Customized pest control program for any location
                                    Meticulous planning & flawless execution of the process.
                                    Use of effective yet safe insecticides, pesticides & other chemicals
                                    Well equipped and trained professionals to handle the dangerous chemicals
                                    Continuous R&D by our team to obtain better pest control methods
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <h6 class="text-white text-center"> Live Long Hygienically</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <!-- Gardening and Landscaping-->
                        <h5 class="text-center text-muted">Landscaping</h5>
                    </div>
                    <img class="img-fluid" src="../../assets/landscaping-unsplash.jpg" alt=""> 
                    <div class="card-body">
                        <div class="card-text">
                            <p>Ador your complex and structure with nature using our gardening and landscaping services</p>
                        </div>
                        <a class="btn btn-primary btn-sm" href="#" data-bs-toggle="collapse" data-bs-target="#landscape">Read More</a>
                        <div class="collapse" id="lasdscape">
                            <div class="card mt-1">
                                <div class="card-body">
                                    Our support services extend to adorning your complex/structure with nature. AMSSS has the best set of resources for
                                    gardening and landscaping services. We offer our services in this manner:
                                    Site evaluation
                                    Test soil, water and natural environment to shortlist on plants/shrubs that can be used
                                    Housekeeping services, personnel to maintain indoor /outdoor plants
                                    Technical training on maintaining plants and gardens
                                    Shrub trimming, lawn mowing, flowerbed care, pesticide and fertilizer usage.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <h6 class="text-white text-center">Rejuvenate your surrounding</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-5">
                    <div class="card-header">
                        <!-- Security Services -->
                        <h5 class="text-muted text-center">Security Services</h5>
                    </div>
                    <img class="img-fluid" src="../../assets/security-unsplash.jpg" alt="https://source.unsplash.com/random/300x200">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Security services for offices, complexes, apartments, individual homes, organizations, all types of buildings,</p>
                        </div>
                        <a class="btn btn-primary btn-sm" href="#" data-bs-toggle="collapse" data-bs-target="#security">Read More</a>
                        <div class="collapse" id="security">
                            <div class="card mt-1">
                                <div class="card-body">
                                    Get housekeeping and cleaning services for industrial establishments, commercial &
                                    corporate
                                    firms and large residential
                                    complexes with our expert teams. Our process ensures cleanliness, tidiness &
                                    hygienic
                                    environment with the assurance of
                                    sustaining life of the valuables and assets that we maintain
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-success">
                        <h6 class="text-white text-center">Feel Safe</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>